{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Practice Round
{% endblock %}

{% block content %}
    <p>To get you familiar with the experiment we will first have you engage in a practice round where you will have
        1 minute to think about your strategy and enter it by hitting the A or B button as any time as your thinking
        progresses. Don’t forget that in the real experiment you must be sure to quickly enter your first decision so as
        to avoid getting a zero payoff.</p>
    {% next_button %}
{% endblock %}


