{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'game/css/game.css' %}">
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="game-container">
            <div class="align-middle">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>A</th>
                        <th>B</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">A</th>
                        <td>{{ game.row_aa }}, {{ game.column_aa }}</td>
                        <td>{{ game.row_ab }}, {{ game.column_ab }}</td>
                    </tr>
                    <tr>
                        <th scope="row">B</th>
                        <td>{{ game.row_ba }}, {{ game.column_ba }}</td>
                        <td>{{ game.row_bb }}, {{ game.column_bb }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h3>
                Round {{ round }} was randomly selected for payment. You chose {{ row_move }} and the other player chose {{ column_move }}.
                Your payoff for this round is {{ payoff }}.
            </h3>
        </div>

        <div>
            <button id="next-button" class="otree-btn-next btn btn-dark">Continue</button>
        </div>
    </div>
{% endblock %}
