{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'game/css/game.css' %}">
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div>
            <h3><span>Seconds Remaining: </span><span id="ttext">60</span></h3>
        </div>

        <div><h3 class="d-inline">Current Choice: </h3><h3 class="d-inline" id="strategy-choice"></h3></div>
        <div id="progbar" class="progress">
            <div class="progress-bar bg-white" id="bid-0" role="progressbar">
            </div>
        </div>

        <div class="game-container">
            <div class="align-middle">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>A</th>
                        <th>B</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">A</th>
                        <td>{{ game.row_a.column_a.row_payoff }}, {{ game.row_a.column_a.column_payoff }}</td>
                        <td>{{ game.row_a.column_b.row_payoff }}, {{ game.row_a.column_b.column_payoff }}</td>
                    </tr>
                    <tr>
                        <th scope="row">B</th>
                        <td>{{ game.row_b.column_a.row_payoff }}, {{ game.row_b.column_a.column_payoff }}</td>
                        <td>{{ game.row_b.column_b.row_payoff }}, {{ game.row_b.column_b.column_payoff }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="chartContainer" class="d-none">
                <canvas id="myChart"></canvas>
            </div>
        </div>

        <div>
            <button id="a-btn" type="button" class="btn btn-primary d-inline custom-button" onclick="addChoice('A')">A</button>
            <button id="b-btn" type="button" class="btn btn-success d-inline custom-button" onclick="addChoice('B')">B</button>
        </div>

        <div>
            <button id="next-button" class="otree-btn-next btn btn-dark d-none">Continue</button>
        </div>
        <div>
            <input type="hidden" id="strategies" name="strategies">
            <input type="hidden" id="strategy" name="strategy">
            <input type="hidden" id="start-time" name="start">
            <input type="hidden" id="end-time" name="end">
        </div>
        <div>{{ form.errors }}</div>

    </div>

{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script>
        let loopTimeMilliseconds = 100;
        let millisecondCounter = 0;
        let timeGivenMilliseconds = 60 * 1000;
        let progressBarCounter = 0;
        let startTime = 0;
        let endTime = 0;
        let choices = [];
        let currentStrategy = 'None';
        let barId = 0;

        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["None", "A", "B"],
                datasets: [{
                    backgroundColor: [
                        "#ffffff",
                        "#007bff",
                        "#28a745",
                    ],
                    data: [0,0,0],
                    borderColor: ['grey', 'grey', 'grey']
                }]
            }
        });

        function addChoice(strat) {
            let currentTime = new Date().getTime();

            if (currentStrategy === strat) {
                return;
            }
            currentStrategy = strat;
            barId += 1;
            progressBarCounter = 0;

            let strategyLabel = document.getElementById('strategy-choice');
            strategyLabel.textContent = currentStrategy;
            choices.push({strategy: currentStrategy, time: currentTime});
        }

        $(document).ready(function() {
            let timeElement = document.getElementById('ttext');
            const intervalId = setInterval(() => {
                if (millisecondCounter === 0)
                    startTime = new Date().getTime();

                let progressBar = document.getElementById(`bid-${barId}`);
                if (progressBarCounter === 0 && currentStrategy !== 'None') {
                    progressBarCounter += 100;
                    let progressBar = document.getElementById('progbar');
                    let colorClass = currentStrategy === 'A' ? 'bg-primary': 'bg-success';
                    let htmlText = `<div id="bid-${barId}" class="progress-bar ${colorClass}" role="progressbar" style="width: 0%"></div>`;
                    progressBar.insertAdjacentHTML('beforeend', htmlText);
                }
                else {
                    progressBarCounter += 100;
                    barPercent = ( progressBarCounter / timeGivenMilliseconds) * 100;
                    progressBar.setAttribute('style', `width:${barPercent}%;`);
                }

                millisecondCounter += 100;
                let seconds = Math.floor((timeGivenMilliseconds - millisecondCounter)/ 1000);
                timeElement.textContent = `${seconds}`;

                if (currentStrategy === 'None') {
                    myChart.data.datasets[0].data[0] += 100;
                }
                else if (currentStrategy === 'A') {
                    myChart.data.datasets[0].data[1] += 100;
                }
                else {
                    myChart.data.datasets[0].data[2] += 100;
                }
                myChart.update();

                if (millisecondCounter === timeGivenMilliseconds) {
                    document.getElementById('a-btn').classList.remove('d-inline');
                    document.getElementById('a-btn').classList.add('d-none');
                    document.getElementById('b-btn').classList.remove('d-inline');
                    document.getElementById('b-btn').classList.add('d-none');
                    document.getElementById('chartContainer').classList.remove('d-none');
                    document.getElementById('next-button').classList.remove('d-none');

                    endTime = new Date().getTime();

                    document.getElementById("strategies").value = JSON.stringify(choices);
                    document.getElementById("strategy").value = currentStrategy.toString();
                    document.getElementById("start-time").value = startTime.toString();
                    document.getElementById("end-time").value = endTime.toString();

                    clearInterval(intervalId);
                }
            }, loopTimeMilliseconds);
        }
    );

</script>
{% endblock %}
