{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'game/css/game.css' %}">
{% endblock %}

{% block content %}
    <div id="progbar" class="progress">
     <div class="progress-bar bg-white" id="bid-0" role="progressbar">
      </div>
    </div>

    <div>
        <h2><span>Seconds Remaining - </span><span id="ttext">60</span></h2>
    </div>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>A</th>
                <th>B</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">A</th>
                <td>a, a</td>
                <td>a, b</td>
            </tr>
            <tr>
                <th scope="row">B</th>
                <td>b, a</td>
                <td>b, b</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div><h3 class="d-inline">Current Choice: </h3><h3 class="d-inline" id="strategy"></h3></div>

    <div>
        <button id="a-btn" type="button" class="btn btn-primary d-inline" onclick="addChoice('A')">A</button>
        <button id="b-btn" type="button" class="btn btn-success d-inline" onclick="addChoice('B')">B</button>
    </div>

    <div>
        <button id="next-button" class="otree-btn-next btn btn-dark d-none" onclick="addStrategy()">Continue</button>
    </div>
    <div>
        <input type="hidden" id="strategies" name="strategies">
        <input type="hidden" id="strategy" name="strategy">
    </div>
    <div>{{ form.errors }}</div>

{% endblock %}
{% block scripts %}
    <script>
        // TODO: Add chart displaying percentages of time allocated to a given strategy (chart.js)
        let loopTimeMilliseconds = 100;
        let millisecondCounter = 0;
        let timeGivenMilliseconds = 60 * 1000;
        let progressBarCounter = 0;
        let startTime = 0;
        let endTime = 0;
        let choices = [];
        let currentStrategy = '';
        let barId = 0;

        function addStrategy() {
            document.getElementById("strategies").value = JSON.stringify(choices);
            document.getElementById("strategy").value = currentStrategy;
        }

        function addChoice(strat) {
            let currentTime = new Date().getTime();

            if (currentStrategy === strat) {
                return;
            }
            currentStrategy = strat;
            barId += 1;
            progressBarCounter = 0;

            let strategyLabel = document.getElementById('strategy');
            strategyLabel.textContent = currentStrategy;
            choices.push({strategy: currentStrategy, time: currentTime});
        }

        $(document).ready(function() {
            let timeElement = document.getElementById('ttext');
            const intervalId = setInterval(() => {
                if (millisecondCounter === 0)
                    startTime = new Date().getTime();

                millisecondCounter += 100;
                let seconds = Math.floor((timeGivenMilliseconds - millisecondCounter)/ 1000);
                timeElement.textContent = `${seconds}`;

                let progressBar = document.getElementById(`bid-${barId}`);
                if (progressBarCounter === 0) {
                    progressBarCounter += 100;
                    let progressBar = document.getElementById('progbar');
                    let colorClass = currentStrategy === 'A' ? 'bg-primary': 'bg-success';
                    let htmlText = `<div id="bid-${barId}" class="progress-bar ${colorClass}" role="progressbar" style="width: 0%"></div>`;
                    progressBar.insertAdjacentHTML('beforeend', htmlText);
                }
                else {
                    progressBarCounter += 100;
                    barPercent = ( progressBarCounter / timeGivenMilliseconds) * 100;
                    progressBar.setAttribute('style', `width:${barPercent}%;`);
                }

                if (millisecondCounter === timeGivenMilliseconds) {
                  document.getElementById('a-btn').classList.remove('d-inline');
                  document.getElementById('a-btn').classList.add('d-none');
                  document.getElementById('b-btn').classList.remove('d-inline');
                  document.getElementById('b-btn').classList.add('d-none');
                  document.getElementById('next-button').classList.remove('d-none');

                  endTime = new Date().getTime();

                  clearInterval(intervalId);
                }
            }, loopTimeMilliseconds);
        }
    );

</script>
{% endblock %}
